html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* https://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas */
#canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  height: 100vh;
}